# -*- coding: utf-8 -*-
"""
Created on Fri Aug 18 08:07:19 2023

@author: akomarla
"""

<!DOCTYPE html>
<html> 
<head> 
    <title>Upload & Read Demand Data</title> 
</head> 
<body> 
    <p style="color:green;"> File uploaded successfully</p><br><br>
    
    <p style="color:green;"> Enter model parameters</p>
    <form action="/show_results" method="POST">
        Program family: <input name="program_family"> <br><br>
        Customer: <input name="customer"> <br><br>
        Quarter: <input name="quarter"> <br><br>
        <input type="submit" value="Show Result" />
    </form>
    
</body> 
</html>